In [1]:
import pandas as pd
import numpy as np
import datetime
import pickle

In [2]:
path = r'C:\Users\Carolina Alves\OneDrive - Universidade de Aveiro\WDL competition\Stage 3'

In [ ]:
#df = pd.read_csv(path+'/'+"bike_loans.csv", sep=";")

In [6]:
#pickle.dump(df, open(path+'/'+"df_raw", "wb" ) )

In [5]:
df = pickle.load(open(path+'/'+"df_raw", "rb" ) )

In [7]:
df.head()

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,Importe,DescripcionImporte,operario,Num_Bici_Hist
0,6501462,18701,000017B00743,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,0.0,NaN,jhon.castano,929.0
1,6501318,41811,000017AFF83C,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,0.0,NaN,monitor,1612.0
2,6501489,96620,000017AFFB6F,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,0.0,NaN,NaN,1679.0
3,6501001,16055,0000182A3B7B,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,0.0,NaN,NaN,1076.0
4,6501421,6431,000017AFE810,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,0.0,NaN,monitor,1176.0

In [8]:
df.describe()

,Id_Historico_Prestamo,Id_Usuario,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,Importe,DescripcionImporte,Num_Bici_Hist
count,1.422536e+07,1.422536e+07,1.422536e+07,1.422536e+07,1.421928e+07,1.410506e+07,14225355.0,0.0,1.326167e+07
mean,9.279505e+06,6.564413e+04,3.415679e+01,4.718921e+00,3.441973e+01,7.130318e+00,0.0,NaN,1.439109e+03
std,4.894283e+06,4.666045e+04,2.733872e+01,7.334095e+00,2.750160e+01,8.610296e+00,0.0,NaN,8.044781e+02
min,4.200000e+01,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,0.0,NaN,1.000000e+00
25%,6.012212e+06,2.384000e+04,8.000000e+00,1.000000e+00,8.000000e+00,1.000000e+00,0.0,NaN,8.400000e+02
50%,9.643604e+06,4.469700e+04,3.300000e+01,1.000000e+00,3.400000e+01,1.000000e+00,0.0,NaN,1.276000e+03
75%,1.326346e+07,1.087550e+05,5.600000e+01,5.000000e+00,5.600000e+01,1.200000e+01,0.0,NaN,1.647000e+03
max,1.727300e+07,1.579420e+05,1.510000e+02,4.000000e+01,1.510000e+02,4.000000e+01,0.0,NaN,1.435500e+04

In [9]:
def eda_to_df(df):
    header="+" + ("-"*73) + "+"
    form = "+{:^25s}|{:^15s}|{:^10s}|{:^10s}|{:^10s}|"
    print(header)
    print(form.format("Column", "Type", "Uniques", "NaN?", "%NaN"))
    print(header)
    for col in df.columns:
        print(form.format(str(col), #Column
                          str(df[col].dtypes), #Type
                          str(len(df[col].unique())), #Uniques
                          str(df[col].isnull().values.any()), #NaN?
                          str(round(((df[col].isnull().sum())/len(df[col]))*100,5)) )) #%NaN
    print(header)
    
    
# ver qual é a percentagem de valores a nan    
# é necessário removê-los????
    
eda_to_df(df)

+-------------------------------------------------------------------------+
+         Column          |     Type      | Uniques  |   NaN?   |   %NaN   |
+-------------------------------------------------------------------------+
+  Id_Historico_Prestamo  |     int64     | 14221915 |  False   |   0.0    |
+       Id_Usuario        |     int64     |  93005   |  False   |   0.0    |
+    Id_Tag_Bicicleta     |    object     |   6698   |   True   |  8e-05   |
+     Fecha_Prestamo      |    object     | 12933511 |  False   |   0.0    |
+    Fecha_Devolucion     |    object     | 12841682 |  False   |   0.0    |
+ Id_Aparcamiento_Origen  |     int64     |   128    |  False   |   0.0    |
+     Posicion_Origen     |     int64     |    40    |  False   |   0.0    |
+ Id_Aparcamiento_Destino |    float64    |   142    |   True   | 0.04273  |
+    Posicion_Destino     |    float64    |    41    |   True   | 0.84562  |
+         Importe         |    float64    |    1     |  False   |   0.0    |
+   DescripcionImporte    |    float64    |    1     |   True   |  100.0   |
+        operario         |    object     |   463    |   True   | 52.04584 |
+      Num_Bici_Hist      |    float64    |   2537   |   True   |  6.7744  |
+-------------------------------------------------------------------------+

In [10]:
df = df.drop(['Importe', 'DescripcionImporte'], axis=1)

In [11]:
df.head()

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,operario,Num_Bici_Hist
0,6501462,18701,000017B00743,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,jhon.castano,929.0
1,6501318,41811,000017AFF83C,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,monitor,1612.0
2,6501489,96620,000017AFFB6F,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,NaN,1679.0
3,6501001,16055,0000182A3B7B,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,NaN,1076.0
4,6501421,6431,000017AFE810,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,monitor,1176.0

In [12]:
A = df[df['Id_Aparcamiento_Destino'].isnull()]
B = df[df['Posicion_Destino'].isnull()]
C = df[(df['Id_Aparcamiento_Destino'].isnull()) & (df['Posicion_Destino'].isnull())]
D = df[(df['Id_Aparcamiento_Destino'].isnull()) & (df['Posicion_Destino'].isnull()) & (df['operario']=='monitor')]
E = df[(df['Id_Aparcamiento_Destino'].isnull()) & (df['Posicion_Destino'].isnull()) & (df['operario'].isnull())]

In [13]:
print('Number of NaN in Id_Aparcamiento_Destino column: ', len(A))
print('\nNumber of NaN in Posicion_Destino column: ', len(B))
print('\nNumber of rows when Id_Aparcamiento_Destino and Posicion_Destino are NaN: ', len(C))
print('\nNumber of rows when Id_Aparcamiento_Destino and Posicion_Origen are NaN and the operario is monitor: ', len(D))
print('\nNumber of rows when Id_Aparcamiento_Destino, Posicion_Origen and operario are NaN: ', len(E))

Number of NaN in Id_Aparcamiento_Destino column:  6079

Number of NaN in Posicion_Destino column:  120292

Number of rows when Id_Aparcamiento_Destino and Posicion_Destino are NaN:  6079

Number of rows when Id_Aparcamiento_Destino and Posicion_Origen are NaN and the operario is monitor:  2468

Number of rows when Id_Aparcamiento_Destino, Posicion_Origen and operario are NaN:  1296

Quando o Id_Aparcamiento_Destino tem valores NaN não conseguimos saber qual a estação de destino. Por essa razão esses dados não nos interessam pois não trazem informação ao modelo que irá ser construído.

***Calculating the usage duration of bycicles***

In [10]:
def duration (prestamo, devolucion):

    start = datetime.datetime.strptime(prestamo[0:19], "%Y-%m-%d %H:%M:%S")
    end = datetime.datetime.strptime(devolucion[0:19], "%Y-%m-%d %H:%M:%S")
    time = end - start
    seconds = time.total_seconds()

    return seconds

In [12]:
df['Duration'] = df.apply(lambda x: duration(x['Fecha_Prestamo'],x['Fecha_Devolucion']),axis=1)

In [13]:
df = df[df['Duration']>0]

In [ ]:
df.sort_values(df['Duration'], ascending=True).head()

In [15]:
pickle.dump( df, open(path+'/'+'df', 'wb'))

***Removing data before 2016 and after 2020***

In [16]:
def year_ (row):
    
    year = int(row[0:4])

    return year

In [15]:
df_list = []
increment = 1000000
for i in range(0,15000000, increment):
    df_ = df.iloc[i:i+increment,:]
    #creating column with the year of prestamo and devolucion
    df_['Year_Prestamo'] = df_.apply(lambda x: year_(x['Fecha_Prestamo']),axis=1) 
    df_['Year_Devolucion'] = df_.apply(lambda x: year_(x['Fecha_Devolucion']),axis=1) 
    #removing years before 2016 and after 2020
    df_= df_[(df_['Year_Prestamo']>=2016) & (df_['Year_Prestamo']<2020)]
    df_= df_[(df_['Year_Devolucion']>=2016) & (df_['Year_Devolucion']<2020)]
    df_list.append(df_)

#creating cleaned dataframe
df_new_ = pd.DataFrame()
df_clean_ = df_new_.append(other=df_list,ignore_index=True)

#confirming
print(df_clean_['Year_Prestamo'].unique())
print(df_clean_['Year_Devolucion'].unique())

AttributeError: 'str' object has no attribute 'iloc'

In [147]:
df_clean_

,Id_Historico_Prestamo,Id_Usuario,Id_Tag_Bicicleta,Fecha_Prestamo,Fecha_Devolucion,Id_Aparcamiento_Origen,Posicion_Origen,Id_Aparcamiento_Destino,Posicion_Destino,operario,Num_Bici_Hist,Duration,Year_Prestamo,Year_Devolucion
0,6501462,18701,000017B00743,2017-06-21 14:22:11.000,2017-06-21 14:38:29.000,8,1,43.0,1.0,jhon.castano,929.0,978.0,2017,2017
1,6501318,41811,000017AFF83C,2017-06-21 14:07:18.000,2017-06-21 14:39:06.000,56,6,54.0,NaN,monitor,1612.0,1908.0,2017,2017
2,6501489,96620,000017AFFB6F,2017-06-21 14:25:11.000,2017-06-21 14:39:07.000,36,25,9.0,13.0,NaN,1679.0,836.0,2017,2017
3,6501001,16055,0000182A3B7B,2017-06-21 13:35:52.000,2017-06-21 14:39:22.000,8,1,9.0,6.0,NaN,1076.0,3810.0,2017,2017
4,6501421,6431,000017AFE810,2017-06-21 14:17:56.000,2017-06-21 14:39:26.000,56,14,54.0,NaN,monitor,1176.0,1290.0,2017,2017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10391603,14454800,27944,0000F69A5A88,2019-12-31 13:58:55.000,2019-12-31 14:25:38.000,40,1,50.0,1.0,claudia.marin,541.0,1603.0,2019,2019
10391604,14454778,108800,00029A222B5E,2019-12-31 13:52:48.000,2019-12-31 14:40:52.000,28,1,50.0,1.0,claudia.marin,715.0,2884.0,2019,2019
10391605,14454793,98449,00001619CE0A,2019-12-31 13:55:47.000,2019-12-31 14:41:39.000,113,1,28.0,1.0,edison.graciano,3497.0,2752.0,2019,2019
10391606,14454774,129665,000036885A88,2019-12-31 13:51:28.000,2019-12-31 16:27:12.000,39,15,41.0,15.0,NaN,534.0,9344.0,2019,2019
10391607,14454588,121316,000026FE5A88,2019-12-31 13:15:55.000,2019-12-31 15:01:31.000,103,4,118.0,4.0,NaN,2092.0,6336.0,2019,2019

In [148]:
#saving cleaned dataframe
pickle.dump(df_clean_, open(path+'/'+"df_clean", "wb" ) )

In [ ]:
# Passar Id_Tag_Bicicleta e operario para numérico
# Eliminar na coluna apariamento NaN

Fábio:

Quais são as horas/dias da semana/meses mais comuns para usar uma bicicleta?

Quais é que são os tempos médios de empréstimo?

Quais as origens/destinos mais comuns?

Quais os trajetos mais comuns?

Cadeias de markov ou função matemática: qual é a probabilidade de uma bicicleta ser transportada para uma estação X sabendo que estava na estação Y

-------------------------------------------------------------------------------------------------

Ana:

Verificar quando as estações automáticas cheias. -> ver para cada estação qual o nº máximo de posições diferentes e depois tentar perceber qnd é que elas estão cheias (elas estão cheias se num dado intervalo de tempo todas as positions estão ocupadas) ---> taxa de ocupação

Ver a taxa de ocupação a cada hora

Ver a capacidade de armazenamento das estações automáticas. Quais são as estações automáticas com maior capacidade de armazenamento? Quais as com menor?

Nota: os nans presents em Posicion_Destino e Posicion_Origen significa que as estações são manuais -> temos de ter o nome do empregado (VERIFICAR SE ISTO É COERENTE)